<div class="row">
  <div class="span3 pull-right">
  </div>
  
  <div class="span12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>创建时间</th>
          <th>内容</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
        <tr>
          <td><%= l comment.created_at %></td>
          <td><%= comment.content %></td>
          <td>
            <%= link_to "删除", admin_comment_path(comment), target: '_blank', class: 'btn', method: 'DELETE', remote: true %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @comments, previous_label: '上一页', next_label: '下一页' %>
  </div>
</div>