<div class="bg-page login-bg">
  <div class="form-container">
    <div class="form-content">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h3>登录即可参加活动，赢大奖！</h3>
      <div>
        <div class="form-group">
          <%= f.input :email, required: false, autofocus: true, placeholder: '您的邮箱/手机号/用户名', type: 'text', label: false %>
          <p class="error"><%= flash[:notice] if flash[:notice] == '用户名或密码错误' %></p>
        </div>
        <div class="form-group">
          <%= f.input :password, required: false, autofocus: true, placeholder: '您的密码', type: 'password', label: false %>
        </div>
        <p class="small-notice clearfix">
          <a class="right" href="/users/password/new">忘记密码</a>
        </p>
        <div class="form-group">
          <input class="btn btn-mar" type="submit" value="立即登录" />
        </div>
        <p class="small-notice small-notice2 clearfix">
          <span>还没有注册？</span>
          <a href="/users/sign_up">马上注册</a>
          <a class="back" href="/">返回首页</a>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :js do %>
<script type="text/javascript">
  $(function(){
    var validator = $("#new_user").validate({
      rules: {
        "user[email]": { required: true, email: false },
        "user[password]": { required: true }
      }
    })
  })
</script>
<% end %>