<div class="wrap">
  <%= render 'header' %>

  <div class="head-regulation regulation3">
    <div class="inner-module">
      <p>
        <a href="edit-zhuti.shtml">编辑攻略</a>
      </p>
    </div>
  </div>

  <div class="main">
    <div class="inner-module">
      <div class="regulation-content">
        <h2 class="title clearfix">
          <span>活动详情</span>
        </h2>
        <div class="regulation">
          <p class="headline">活动时间：</p>
          <p>10月19日-10月25日。</p>
          <p class="headline">参与方式：</p>
          <p>用户在“舌尖上的全世界”页面，上传海外旅行中以美食为主题的图片及简单的文字说明即可参与，活动结束后，主办方将根据图片获得的“喜欢”与“分享”总数，评选2位获奖客户，每位获奖客户将获得2000元的中国工商银行融e购商城电子券。</p>
          <p class="headline">活动奖品：</p>
          <p>价值2000元的工商银行融e购电子券。</p>
          <p class="warning-text small-text">注意：此次活动的上传内容必须为原创，如有侵权，上传作者必须付全部法律责任和追究。</p>
          <p class="small-text">本活动最终解释权归中国工行银行所有。</p>
        </div>
      </div>
    </div>
  </div>

  <%= render 'footer' %>
</div>