<div class="wrap">
  <%= render 'header' %>
  <div class="head-img name-bg"></div>
  <div class="main">
    <div class="inner-module">
<!--         <div class="name-list">
          <h1>最佳境外攻略奖获奖名单</h1>
          <div class="name-content clearfix">
            <div class="left-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>谭女士</td>
                  <td>138****5634</td>
                </tr>
                <tr>
                  <td>谭女士</td>
                  <td>138****5634</td>
                </tr>
              </table>
            </div>
            <div class="right-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>谭女士</td>
                  <td>138****5634</td>
                </tr>
                <tr>
                  <td>谭女士</td>
                  <td>138****5634</td>
                </tr>
              </table>
            </div>
          </div>
        </div> -->

        <div class="name-list">
          <h1>我是最美风景主题活动获奖名单</h1>
          <div class="name-content clearfix">
            <div class="left-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>周**</td>
                  <td>135****2821</td>
                </tr>
              </table>
            </div>
            <div class="right-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>许**</td>
                  <td>131****5225</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        
        <div class="name-list">
          <h1>最爱心中那一瞬主题活动获奖名单</h1>
          <div class="name-content clearfix">
            <div class="left-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>唐**</td>
                  <td>136****6633</td>
                </tr>
              </table>
            </div>
            <div class="right-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>莫**</td>
                  <td>134****3529</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        
        <div class="name-list">
          <h1>舌尖上全世界主题活动获奖名单</h1>
          <div class="name-content clearfix">
            <div class="left-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>谭**</td>
                  <td>131****4933</td>
                </tr>
              </table>
            </div>
            <div class="right-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>唐**</td>
                  <td>136****6633</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        
        <div class="name-list">
          <h1>跨越地球去体验主题活动获奖名单</h1>
          <div class="name-content clearfix">
            <div class="left-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>程**</td>
                  <td>138****2240</td>
                </tr>
              </table>
            </div>
            <div class="right-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>何**</td>
                  <td>135****6811</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <p style="margin: 0 0 50px; line-height: 1.8;">以上中奖名单用户均真实有效参与活动，奖品为2000元工商银行融e购商城电子券。我行将根据获奖客户在系统中的手机号码与本人确认个人信息后，以短信息的方式将电子券的卡号、密码、有效期及使用方式等信息发送到中奖客户手机上，请留意查收。</p>

      </div>
    </div>
    <%= render 'footer' %>
  </div>