<div class="wrap">
  <%= render 'header' %>
  <div class="head-img name-bg"></div>
  <div class="main">
      <div class="inner-module">
<!--         <div class="name-list">
          <h1>最佳境外攻略奖获奖名单</h1>
          <div class="name-content clearfix">
            <div class="left-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>谭女士</td>
                  <td>138****5634</td>
                </tr>
                <tr>
                  <td>谭女士</td>
                  <td>138****5634</td>
                </tr>
              </table>
            </div>
            <div class="right-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>谭女士</td>
                  <td>138****5634</td>
                </tr>
                <tr>
                  <td>谭女士</td>
                  <td>138****5634</td>
                </tr>
              </table>
            </div>
          </div>
        </div> -->

        <div class="name-list">
          <h1>我是最美风景主题活动获奖名单</h1>
          <div class="name-content clearfix">
            <div class="left-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>周女士</td>
                  <td>135****2821</td>
                </tr>
              </table>
            </div>
            <div class="right-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
                <tr>
                  <td>许先生</td>
                  <td>131****5225</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="name-list">
          <h1>最爱心中那一瞬主题活动获奖名单</h1>
          <div class="name-content clearfix">
            <div class="left-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
              </table>
            </div>
            <div class="right-bar2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>姓名</th>
                  <th>手机号</th>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%= render 'footer' %>
</div>