<div class="wrap">
  <%= render 'header' %>

  <div class="head-img jieshou-bg">即期结售汇</div>

  <div class="main">
    <div class="inner-module">
      <div class="product-introduce">
        <h2 class="title clearfix">
          <span>活动详情</span>
        </h2>
        <h3>一、业务简述</h3>
        <ul>
          <li>
            即期结售汇，是指客户与我行在国家外汇政策允许的条件下，根据我行实时即期牌价进行的外汇与人民币的资金兑换业务。
          </li>
        </ul>

        <h3>二、适用对象</h3>
        <ul>
          <li>
            适用于具有自身结售汇需求的个人客户和在中华人民共和国境内（不含港澳台）设立的国家机关、企事业单位、社会团体、部队、外商投资企业等法人客户。
          </li>
        </ul>

        <h3>三、特色优势</h3>
        <ul>
          <li>
            <h4>（一）即期结售汇的主要特点：</h4>
            <dl class="clearfix">
              <dt>1. </dt>
              <dd>即期结售汇是最基础的外汇与人民币兑换工具，交易结构简单清晰，易于理解。</dd>
            </dl>
            <dl class="clearfix">
              <dt>2. </dt>
              <dd>即期结售汇简便、快捷，交易完成后，资金可及时到账。</dd>
            </dl>
          </li>

          <li>
            <h4>（二）我行即期结售汇的主要优势：</h4>
            <dl class="clearfix">
              <dt>1. </dt>
              <dd>我行是银行间人民币外汇市场最具影响力的做市商之一，能够以较低的成本完成交易风险的对冲，从而为客户提供较为优惠的价格。</dd>
            </dl>
            <dl class="clearfix">
              <dt>2. </dt>
              <dd>我行结售汇办理渠道包括营业网点、网上银行和手机银行。法人客户可通过营业网点和企业网上银行办理即期结售汇业务；个人客户可通过营业网点、个人网上银行、个人手机银行办理即期结售汇业务。</dd>
            </dl>
            <dl class="clearfix">
              <dt>3. </dt>
              <dd>我行可办理26个币种结售汇业务，是业内结售汇币种最丰富的商业银行，其中个人网上银行和手机银行渠道可办理美元、欧元、英镑、瑞士法郎、港币、日元、加元、澳元、新加坡元、俄罗斯卢布、新西兰元、挪威克朗、丹麦克朗、瑞典克朗、澳门币、泰铢、韩元和南非兰特等18个币种结售汇业务。</dd>
            </dl>
            <dl class="clearfix">
              <dt>4. </dt>
              <dd>我行个人客户办理结售汇业务，可根据客户星级享受相应汇率点差优惠。</dd>
            </dl>
          </li>
        </ul>

        <h3>四、业务示例</h3>
        <ul>
          <li>
            2014年6月，某客户收到一笔大额美元货款，向我行咨询即期结汇业务，当时美元兑人民币即期汇率为6.22。综合外汇市场走势及国内经济形势，我行认为美元兑人民币汇率将保持温和下跌走势，建议客户立即结汇，锁定成本。客户结汇后，如我行所预测，美元兑人民币持续下跌。
          </li>
        </ul>

        <h3>五、开办条件</h3>
        <ul>
          <li>
            <h4>（一） 个人客户即期结售汇业务：</h4>
            <dl class="clearfix">
              <dt>&nbsp;</dt>
              <dd>根据国家外汇管理政策规定，对境内个人客户结售汇施行年度总额管理。目前个人结汇、售汇业务年度总额分别为等值5万（含）美元。确需超过年度结售汇总额的个人，须提供有效真实需求凭证。境外个人根据《个人外汇管理办法》（中国人民银行令[2006]第3号）和《个人外汇管理办法实施细则》（ 汇发[2007]1号）的要求，凭本人有效身份证件和相关证明材料办理结售汇业务。</dd>
            </dl>
          </li>

          <li>
            <h4>（二） 对公客户即期结售汇业务：</h4>
            <dl class="clearfix">
              <dt>1. </dt>
              <dd>客户在营业网点办理即期结售汇业务，须在我行开立人民币银行结算账户和外汇账户，并携带国家外汇管理局所要求相关核准文件、有效凭证、商业单据及外管局要求的其它资料。</dd>
            </dl>
            <dl class="clearfix">
              <dt>2. </dt>
              <dd>在我行境内开立经常项目外汇结算账户（1000-经常项目外汇结算账户）的A办理企业网上银行结售汇业务前，应注册企业网上银行证书版，开立经常项目外汇结算账户和人民币结算账户，并提供贸易合同、发票、报关单等真实性背景材料，经我行审核通过后为客户指定外汇结算账户、维护交易额度和交割截止日期（超出监管机构和我行规定电子银行渠道办理范围的交易申请，须通过我行营业网点办理）。</dd>
            </dl>
          </li>
        </ul>

        <h3>六、服务渠道和时间</h3>
        <ul>
          <li>
            <h4>（一）柜台服务</h4>
            <dl class="clearfix">
              <dt>&nbsp;</dt>
              <dd>符合国家外汇政策允许的客户，可以凭借其相关材料在营业时间内直接通过我行结售汇业务指定网点办理即期结售汇业务。</dd>
            </dl>
          </li>

          <li>
            <h4>（二）网银服务</h4>
            <dl class="clearfix">
              <dt>&nbsp;</dt>
              <dd>个人客户可在（北京时间）周一至周日7：00至22：00通过网上银行、手机银行办理即期结售汇业务，对公客户可在（北京时间）周一至周五 9：30至16：30通过网上银行办理即期结售汇业务。</dd>
            </dl>
          </li>
        </ul>

        <h3>七、办理流程</h3>
        <ul>
          <li>
            <h4>（一）柜面渠道 </h4>
            <dl class="clearfix">
              <dt>1. </dt>
              <dd>个人客户即期结售汇流程图</dd>
              <dd>
                <span>a.未超过年度结售汇总额或超过年度总和但能提供有效真实需求凭证的个人客户，携带本人有效身份证件至营业网点。</span>
              </dd>
              <dd>
                <span>b.提交申请，并如实填写相应申请书，根据需要提供相关文件。</span>
              </dd>
              <dd>
                <span>c.交易成功，取得《中国工商银行个人结售汇业务凭证》。</span>
              </dd>
            </dl>
            <dl class="clearfix">
              <dt>2. </dt>
              <dd>对公客户即期结售汇流程图</dd>
              <dd>
                <span> a.客户携带国家外汇管理局所要求的相关核准文件、有效凭证、商业单据及外管局要求的其他材料。</span>
              </dd>
              <dd>
                <span>b.至工行营业网点申请办理即期结售汇业务。</span>
              </dd>
              <dd>
                <span> c.交易成功，取得《中国工商银行外汇会计凭证》。</span>
              </dd>
            </dl>
          </li>

          <li>
            <h4>（二）网上银行、手机银行等电子银行渠道</h4>
            <dl class="clearfix">
              <dt>1. </dt>
              <dd>个人客户即期结售汇流程图</dd>
              <dd>
                <span> a.客户持本人有效身份证件，前往工行营业网点开通网上银行、手机银行等电子银行服务。</span>
              </dd>
              <dd>
                <span>b.登陆个人网上银行/手机银行，选择“结售汇”功能。</span>
              </dd>
              <dd>
                <span>c.选择“结汇”或“购汇”子功能，输入结汇或购汇信息后办理。</span>
              </dd>
            </dl>
            <dl class="clearfix">
              <dt>2. </dt>
              <dd>对公客户即期结汇流程图</dd>
              <dd>
                <span>a.客户持相关证件，前往工行营业网点开通企业网上银行服务，并开通企业网银结售汇业务。</span>
              </dd>
              <dd>
                <span>b.依外管企业分类监管要求将外汇资金转入1000-企业外汇结算账户。</span>
              </dd>
              <dd>
                <span>c.依次选择“国际业务”-“网上结汇”-“提交结汇指令”栏目，输入结汇信息后办理。</span>
              </dd>
            </dl>
            <dl class="clearfix">
              <dt>3. </dt>
              <dd>对公客户即期售汇流程图</dd>
              <dd>
                <span>a.客户持相关证件，前往工行营业网点开通企业网上银行服务，并开通企业网银结售汇业务。</span>
              </dd>
              <dd>
                <span>b.向营业机构提交交易额度申请书和贸易合同、发票、报关单等真实性背景材料。</span>
              </dd>
              <dd>
                <span>c.依次选择“国际业务”-“网上购汇”-“提交购汇指令”栏目，输入购汇信息后办理。</span>
              </dd>
            </dl>
          </li>
        </ul>

        <h3>八、风险提示</h3>
        <ul>
          <li>
            由于未来的汇率变化具有不确定性，客户在办理即期结售汇后，如果未来汇率优于即期办理业务时的汇率，则客户在锁定汇率成本或收益的同时，无法享受将来汇率变化的额外收益。
          </li>
        </ul>

        <h3>九、注意事项</h3>
        <ul>
          <li>
            1. 客户应提供外管局所规定的相关资质证明及合规、有效的证明文件，配合银行完成尽职调查工作。
          </li>
          <li>
            2. 经我行柜员对客户相关材料核对无误后，客户方可提交正式的结售汇业务申请书。交易确认后，我行将向客户出具业务交易凭证。
          </li>
          <li>
            3. 我行根据人民币外汇市场的价格走势向客户进行报价，并根据市场变化实时更新。
          </li>
        </ul>

        <h3>十、名词解释</h3>
        <ul>
          <li>
            根据《个人外汇管理办法》（中国人民银行令[2006]第3号）相关规定，境内个人是指持有中华人民共和国居民身份证（含临时身份证）、军人身份证件、武装警察身份证件的中国公民；境外个人是指持护照、港澳居民来往内地通行证、台湾居民往来大陆通行证的外国公民（包括无国籍人士）以及港澳台同胞。
            <p>
              即期结汇：是指客户将外汇卖给我行，银行根据交易日实时汇率付给客户等值人民币。
            </p>
            <p>即期售汇：是指客户向我行购买外汇，银行根据交易日实时汇率向客户收取等值人民币。
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'footer' %>
</div>