<div class="wrap">
  <%= render 'header' %>

  <div class="head-img jieshou-bg">即期结售汇</div>

  <div class="main">
    <div class="inner-module">
      <div class="product-introduce">
        <h2 class="title clearfix">
          <span>活动详情</span>
        </h2>
        <h3>一、业务简述</h3>
        <ul>
          <li>
            工行个人结售汇可为个人客户提供人民币与外币兑换服务，能够轻松满足您出国留学、境外旅游等购汇需求，或将闲置外汇兑换为人民币的结汇需求。<br/>工行在中国人民银行对外公布的当日人民币兑美元中间价的基础上，根据市场供需情况，在央行规定的浮动幅度内为客户提供当日人民币即期外汇牌价，包括现汇买入价，现钞买入价，现汇、现钞卖出价。人民币即期外汇牌价根据市场变动而实时变动，客户根据工行发布的实时人民币即期外汇挂牌牌价办理结售汇业务，无需交纳手续费。
          </li>
        </ul>

        <h3>二、适用对象</h3>
        <ul>
          <li>
            工行个人结售汇可适用于因出国留学、旅游、外派劳务等有本外币兑换需求的境内外个人客户。
          </li>
        </ul>

        <h3>三、特色优势</h3>
        <ul>
          <li>
            1. 币种齐全：可办理美元、港币、日元、欧元、英镑、澳大利亚元、加拿大元、新加坡元、瑞士法郎等20余个币种与人民币之间的兑换业务。
          </li>
          <li>
            2. 功能多样：除实时交易外，工行还提供预结汇业务，您通过工行境外机构向境内汇款时可提前锁定结汇汇率。
          </li>
          <li>
            3. 方便快捷：网点柜面、网上银行、手机银行等渠道均可办理，手续简单，实时清算。
          </li>
          <li>
            4. 汇率优惠：工行凭借专业的交易团队和丰富的业务经验，可为您提供有竞争力的兑换汇率。同时，工行定期开展各项优惠活动，满足条件的客户可享受相应点差折扣优惠（具体以相应渠道提示为准）。
          </li>
        </ul>

        <h3>四、操作指南</h3>
        <ul>
          <li>
            1. 网上银行、手机银行等电子银行渠道
          </li>
          <li>办理流程：</li>
          <li>
            按照监管机构要求，个人客户通过工行电子银行仅能办理个人年度总额等额5万美元以内、非经营性的结售汇业务。工行电子银行受理时间一般为每日7:00 - 22:00。如遇变化，工行将根据国家外汇管理局的相关规定及时调整。通过工行电子银行办理结售汇业务的单笔交易起点金额为5美元或等值外汇。 
          </li>
          <li>
            <%= image_tag '2a.jpg' %>
          </li>
          <li>
            2. 柜面渠道
          </li>
          <li>
            客户通过网点柜面办理结售汇业务须出示本人有效身份证件，超出个人年度总额的还须出示有交易额的相关证明材料，办理经常项目项下经营性外汇收支及资本项下外汇收支的结售汇业务须按国家有关规定办理。网点柜面的办理时间为已开办结售汇业务网点的对外营业时间。
          </li>
          <li>办理流程：</li>
          <li>
            <%= image_tag '1a.jpg' %>
          </li>
        </ul>

        <h3>五、风险提示</h3>
        <ul>
          <li>
            由于未来的汇率变化具有不确定性，客户在办理即期结售汇后，如果未来汇率优于即期办理业务时的汇率，则客户在锁定汇率成本或收益的同时，无法享受将来汇率有利变化的额外收益。
          </li>
        </ul>

        <h3>六、名词解释</h3>
        <ul>
          <li>
            现汇：指从境外汇入的、没有取出就直接存入银行的外币款项。它包括从境外银行直接汇入的外币、居民委托银行代其将外国政府公债、国库券、公司债券、金融债券、境外银行存款凭证、商业汇票、银行汇票、外币私人支票等有价证券托收和贴现后所收到的外币。
          </li>
          <li>
            现钞：指外币现金或以现金形式存入银行的外币款项。 
          </li>
    </div>
    </div>
  </div>
  <%= render 'footer' %>
</div>