<div class="wrap">
  <%= render 'header' %>

  <div class="head-img wenda-bg">个人结售汇 业务知识问答</div>
  <div class="main">
    <div class="inner-module">
      <h2 class="title clearfix">
        <span>中国工商银行个人结售汇业务知识问答 </span>
      </h2>

      <!-- 第一部分 -->
      <div class="slide-contaimner">
        <h4 class="warning-color">第一部分 产品知识</h4>

        <div class="vtitle"><em class="v-icon v01"></em>1.什么是结汇？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                结汇，是指客户将外汇卖给中国工商银行（以下简称“工行”），工行根据交易行为发生时的中国工商银行人民币外汇牌价中相应币种汇率（现钞或现汇买入价）付给客户等值人民币。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>2.什么是售汇？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                售汇，是指工行向客户出售外汇，并根据交易行为发生时的中国工商银行人民币外汇牌价中相应币种汇率（卖出价）向客户收取等值人民币。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>3.什么是个人外汇预结汇？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人外汇预结汇，是指客户在工行境外机构办理向工行境内机构的外汇汇款时，按照当日中国工商银行人民币外汇牌价中相应币种汇率约定结汇汇率，工行境内指定机构收到外汇汇款后，按照约定的结汇汇率，将所汇外币款项先结成人民币，再以人民币形式解付给收款人，从而为客户规避以外币形式解付后再结汇可能面临的汇率风险。境内个人或境外个人均可办理个人外汇预结汇业务,但客户办理个人外汇结汇汇款的收款人需为境内居民个人。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>4.现汇和现钞有什么区别？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                （1）来源途径不同：现汇是指从境外汇入的、没有取出就直接存入银行的外币款项，它包括从境外银行直接汇入的外币、居民委托银行代其将外国政府公债、国库券、公司债券、金融债券、境外银行存款凭证、商业汇票、银行汇票、外币私人支票等有价证券托收和贴现后所收到的外币。现钞是指外币现金或以现金形式存入银行的外币款项。
              </p>
              <p>
                （2）结汇时适用汇率不同，差距较大：现汇结汇时使用现汇买入价，现钞结汇时使用现钞买入价。原因在于中国境内外币不能流通，账户上的现汇资金可以直接作为电子结算资金在世界上流通结算，而现钞需要经过一定时间的积累，运送到境外后才能进入结算领域，在积累及运送过程中银行需要承担一定的利息损失、运费、保险费等各项费用，造成现汇买入价与现钞买入价的差异。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>5.工行可提供哪些币种的结售汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户可通过工行网点柜面办理的结售汇业务币种包括美元、港币、日元、欧元、英镑、澳大利亚元、加拿大元、新加坡元、瑞士法郎、丹麦克朗、挪威克朗、瑞典克朗、澳门元、新西兰元、韩元、新台币、马来西亚林吉特、卢布、哈萨克斯坦坚戈、泰国铢、菲律宾比索、越南盾、南非兰特、巴基斯坦卢比、巴西雷亚尔、印度尼西亚卢比等（其中部分币种的现汇或现钞结售汇业务以各营业网点实际开办情况为准）。
              </p>
              <p>
                个人客户可通过工行网上银行和手机银行办理美元、港币、日元、欧元、英镑、澳大利亚元、加拿大元、新加坡元、瑞士法郎、俄罗斯卢布、新西兰元、挪威克朗、丹麦克朗、瑞典克朗、澳门币、泰铢、韩元和南非兰特等币种的储蓄账户中的现钞/现汇结售汇业务。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>6.外汇牌价中的现钞和现汇买卖价有什么不同？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              工行公布的人民币即期外汇牌价包括现汇买入价，现钞买入价，现汇、现钞卖出价。其中，现钞买卖价是工行向客户买卖外币现钞时所使用的汇率，现汇买卖价是工行向客户买卖外币现汇时所使用的汇率。挂牌汇价中的现钞卖出价与现汇卖出价相等，现钞买入价低于现汇买入价。
            </li>
          </ul>
        </div>


      </div>

      <!-- 第二部分 -->
      <div class="slide-contaimner">
        <h4 class="warning-color">第二部分 业务办理</h4>

        <div class="vtitle"><em class="v-icon v01"></em>7.哪些个人客户可以办理结售汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                居民个人与非居民个人均可在工行办理结售汇业务。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>8.个人客户可通过工行哪些渠道办理结售汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户可通过工行网点柜面、电子银行（包括网上银行、手机银行等）办理结售汇业务。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>9.个人客户可在什么时间内办理结售汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户通过工行网点柜面办理结售汇业务的时间为已开办结售汇业务网点的对外营业时间；个人客户通过工行电子银行办理结售汇业务的时间为每天7：00至22：00。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>10．个人客户在工行办理结售汇业务的起点金额是多少？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户通过工行网点柜面办理结售汇业务不受单笔交易起点金额限制，通过工行电子银行办理结售汇业务的单笔交易起点金额为5美元或等值外汇。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>11.个人客户在工行按照什么汇率办理结售汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                工行在中国人民银行对外公布的当日人民币兑美元中间价的基础上，根据市场供需情况，为客户提供当日人民币即期外汇牌价。人民币即期外汇牌价根据市场变动而实时变动，客户根据工行发布的实时人民币即期外汇挂牌牌价办理结售汇业务。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>12.个人客户通过工行网点柜面办理结售汇业务有哪些汇率优惠？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                工行根据客户交易卡号/账号自动识别客户星级标准，并给予对应的汇率点差优惠。目前，个人客户在工行网点柜面办理结售汇业务享受的汇率点差优惠标准为：个人四星级客户可享受汇率点差9折优惠；个人五星级客户可享受汇率点差8折优惠；个人六星级客户可享受汇率点差7.5折优惠；个人七星级客户可享受汇率点差7折优惠。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>13.个人客户通过工行电子银行办理结售汇业务有哪些汇率优惠？[优惠标准可能发生变化，具体以相应渠道提示为准。]</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                目前，个人客户通过工行网上银行办理结售汇业务享受的汇率点差优惠标准为：普通网银客户可享受汇率点差9折优惠，贵宾网银普通客户8折优惠，贵宾网银银牌客户7.5折优惠，贵宾网银金牌金牌客户7折优惠。个人客户通过工行手机银行办理结售汇业务享受的汇率点差优惠标准为：普通手机银行客户可享受汇率点差7折优惠，贵宾手机银行客户6折优惠。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>14.个人客户在工行办理结售汇业务需要交纳手续费吗？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户按照工行人民币即期外汇牌价办理结售汇业务，不需要交纳手续费。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>15.个人客户通过工行网点柜面办理结售汇业务须出示哪些证件？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户须出示本人有效身份证件，超出额度的还须出示有交易额的相关证明材料。其中有效身份证件包括：居民身份证（包括临时身份证）、十六周岁以下公民的户口簿、军人有效身份证件（包括人民解放军、武装警察部队官兵，文职干部和军队离退休干部的军官证、警官证、文职干部证、士兵证或离退休干部证等）、港澳居民往来内地通行证、台湾居民往来大陆通行证、外国公民的护照等证件原件。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>16.个人客户如何通过工行电子银行办理结售汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户通过工行电子银行办理结售汇业务，需办妥工行电子银行注册手续，由本人按照电子银行系统预设条件如实进行申请。
              </p>
              <p>
                按照监管机构要求，个人客户通过工行电子银行仅能办理个人年度总额以内、非经营性的结售汇业务，结汇的外汇或购汇的人民币应来源于本人账户，结汇后的人民币或购汇后的外汇必须直接存入本人账户。超过年度总额的结售汇需备齐相关材料到工行网点办理。
              </p>
              <p>
                具体操作为：登陆个人网上银行/手机银行--选择“结售汇”--选择“结汇”或“购汇”，输入结汇或购汇信息后办理。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>17.个人客户是否可委托他人代办结售汇业务，委托代办需提供哪些证明材料？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户可以委托他人代办结售汇业务。个人客户在年度总额内购汇、结汇，可以委托直系亲属代为办理，需分别提供委托人和受托人的有效身份证件、委托人的授权书、直系亲属关系证明；超过年度总额的购汇、结汇以及境外个人购汇，可以委托他人办理，需提供双方有效身份证件、委托人的授权书、以及规定的有交易额的相关证明材料。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>18.个人客户在同一天内是否可以进行多次结汇或售汇？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户在管理政策范围内一天可以进行多次结汇或售汇交易。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>19.工行可提供哪些购汇后的外汇结算服务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户在工行办理购汇后，可按外汇管理局相关规定进行提钞，也可转存本人外汇账户存款，还可通过外汇汇款、汇票、旅行支票及国际卡等方式进行对外结算。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>20.个人客户如何在工行办理预结汇汇款业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户只能办理个人经常项目项下非经营性外汇资金的预结汇汇款业务，不能办理资本项下及经常项目经营性（货物贸易）外汇资金的预结汇汇款。预结汇汇款单笔金额限定在等值5万美元（含）以内。预结汇纳入个人结售汇信息系统及年度总额管理，超过个人5万美元年度总额的部分，原币划转至收款人外汇账户或根据汇款人的要求原路退回。预结汇汇款业务的收款人账号可以为工行账号，也可以是收款人开立在国内其他银行的账号。
              </p>
            </li>
          </ul>
        </div>

      </div>

      <!-- 第三部分 -->
      <div class="slide-contaimner">
        <h4 class="warning-color">第三部分 相关政策</h4>

        <div class="vtitle"><em class="v-icon v01"></em>21.办理结售汇业务主要应遵循的外管政策有哪些？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                《个人外汇管理办法》（中国人民银行令[2006]3号）、《国家外汇管理局关于印发〈个人外汇管理办法实施细则〉的通知》（汇发[2007]1号）、《国家外汇管理局关于进一步完善个人结售汇业务管理的通知》（汇发[2009]56号）、《国家外汇管理局关于印发〈电子银行个人结售汇业务管理暂行办法〉的通知》（汇发[2011]10号）、《国家外汇管理局关于银行开办电子渠道个人结售汇业务试行个人分拆结售汇“关注名单”管理的通知》（汇发[2011]41号）、《国家外汇管理局、海关总署关于印发〈携带外币现钞出入境管理暂行办法〉的通知》（汇发[2003]102号）、其他相关外汇管理规定。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>22.个人客户办理结汇业务的年度总额规定有哪些？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                根据国家外汇管理政策规定,个人客户结汇实行年度总额管理，目前年度总额为每人每年等值5万美元。年度总额内的，凭本人有效身份证件办理，其中手持现钞结汇的当日累计超过5000美元的还需提交《海关进境旅客行李物品申报单》或原存款银行提钞凭证等现钞来源证明。超过年度总额的，经常项目项下凭本人有效身份证件和有交易额的相关证明等材料办理，资本项目项下按照有关规定办理，手持现钞现汇的还需提交海关进境申报单或提钞凭证等现钞来源证明。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>23.个人客户办理购汇业务的年度总额规定有哪些？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                根据国家外汇管理政策规定,境内个人客户购汇实行年度总额管理，目前年度总额分别为每人每年等值5万美元。年度总额内的，凭本人有效身份证件办理。超过年度总额的，经常项目项下凭本人有效身份证件和有交易额的相关证明等材料办理，资本项目项下按照有关规定办理。
              </p>
              <p>
                境外个人客户购汇限于其在境内获得的合法人民币收入购汇，或原兑换未使用完的人民币兑回外币现钞，前者需凭身份证件及相关证明材料办理，后者当日累计超过500美元的需凭原兑换水单办理，原兑换水单的有效期是兑换日起24个月。该业务可由他人代办，代办时需提供双人有效身份证件、委托书等。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>24.个人客户办理结售汇业务的交易背景有哪些？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人客户办理结售汇业务的交易背景主要分为个人经常项目项下外汇收支和资本项目项下外汇收支，个人经常项目项下外汇收支分为经营性外汇收支和非经营性外汇收支。
              </p>
              <p>
                个人客户经常项目项下经营性外汇收支包括：个人对外贸易经营者对外贸易购付汇、收结汇；个体工商户委托有对外贸易经营权的企业办理进口的，本人凭其与代理企业签定的进口代理合同或协议购汇；个体工商户委托有对外贸易经营权的企业办理出口的，通过本人的外汇结算账户收汇、结汇；境外个人旅游购物贸易方式项下的结汇。
              </p>
              <p>
                境内个人客户经常项目项下非经营性外汇收入包括：捐赠、赡家款、遗产继承收入、保险外汇收入、专有权利使用和特许收入、法律、会计、咨询和公共关系服务收入、职工报酬、境外投资收益等。
              </p>
              <p>
                境内个人客户经常项目项下非经营性外汇支出包括：自费出境学习（学费、生活费）、出境旅游、商务考察、探亲会亲、境外就医、朝觐、境外培训、被聘工作、国际交流、出境定居、外派劳务、境外邮购费用、缴纳国际组织会费、境外直系亲属救助、境内信用卡境外透支消费等。
              </p>
              <p>
                境外个人客户经常项目项下非经营性外汇收支包括：房租类支出、生活消费类支出、就医、学习等支出等。
              </p>
              <p>
                境内个人客户资本项目项下外汇收支包括：对外直接投资；购买B股，进行境外权益类、固定收益类以及国家批准的其他金融投资；向境内保险经营机构支付外汇人寿保险项下保险费；在境外获得的合法资本项目收入；对外捐赠和财产转移；向境外提供贷款、借用外债、提供对外担保和直接参与境外商品期货和金融衍生产品交易等
              </p>
              <p>
                境外个人客户资本项目项下外汇收支包括：购买符合自用原则的境内商品房；出售境内商品房所得人民币需购汇汇出；购买B股；在境内的外汇存款；对境内机构提供的贷款或担保；在境内的合法财产对外转移。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>25.境内个人客户如何办理经常项目项下经营性外汇收支的结售汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                境内个人客户办理经常项目项下经营性外汇收支的结售汇业务，按以下规定办理：
              </p>
              <p>
                （1）个人对外贸易经营者办理对外贸易购付汇、收结汇应通过本人的外汇结算账户进行；其外汇收支、进出口核销、国际收支申报按机构管理。
              </p>
              <p>
                个人对外贸易经营者指依法办理工商登记或者其他执业手续，取得个人工商营业执照或者其他执业证明，并按照国务院商务主管部门的规定，办理备案登记，取得对外贸易经营权，从事对外贸易经营活动的个人。
              </p>
              <p>
                （2）个体工商户委托有对外贸易经营权的企业办理进口的，本人凭其与代理企业签定的进口代理合同或协议购汇，所购外汇通过本人的外汇结算账户直接划转至代理企业经常项目外汇账户。
              </p>
              <p>
                个体工商户委托有对外贸易经营权的企业办理出口的，可通过本人的外汇结算账户收汇、结汇。结汇凭与代理企业签订的出口代理合同或协议、代理企业的出口货物报关单办理。代理企业将个体工商户名称、账号以及核销规定的其他材料向所在地外汇局报备后，可以将个体工商户的收账通知作为核销凭证。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>26.境内个人客户如何办理经常项目项下的非经营性结汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                境内个人经常项目项下非经营性结汇超过年度总额的，凭本人有效身份证件及以下证明材料在银行办理：
              </p>
              <p>
                （1）捐赠：经公证的捐赠协议或合同。捐赠须符合国家规定；
              </p>
              <p>
                （2）赡家款：直系亲属关系证明或经公证的赡养关系证明、境外给付人相关收入证明，如银行存款证明、个人收入纳税凭证等；
              </p>
              <p>
                （3）遗产继承收入：遗产继承法律文书或公证书;
              </p>
              <p>
                （4）保险外汇收入：保险合同及保险经营机构的付款证明。投保外汇保险须符合国家规定；
              </p>
              <p>
                （5）专有权利使用和特许收入：付款证明、协议或合同;
              </p>
              <p>
                　　（6）法律、会计、咨询和公共关系服务收入：付款证明、协议或合同；
              </p>
              <p>
                　　（7）职工报酬：雇佣合同及收入证明；
              </p>
              <p>　　（8）境外投资收益：境外投资外汇登记证明文件、利润分配决议或红利支付书或其他收益证明;
              </p>
              <p>
                　　（9）其它：相关证明及支付凭证。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>27.境内个人客户如何办理经常项目项下的非经营性购汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                境内个人经常项目项下非经营性购汇超过年度总额的，需根据购汇用途凭本人有效身份证件及以下证明材料在银行办理：
              </p>
              <p>
                （1）自费出境学习学费或生活费
              </p>
              <p>
                a.本人因私护照及有效签证（或签注）。前往对我国实行落地签证、免签证的国家或地区无法在出境前提供签证的，银行审核其它证明材料后直接办理；
              </p>
              <p>
                b.境外学校录取通知书（因支付第二学年或学期及以后的学费或生活费购汇的，无需提供）。境内个人无法提供境外学校录取通知书、学费证明原件的，可凭传真件或网上下载件办理；
              </p>
              <p>
                c.境外学校相应年度或学期学费证明或生活费用证明。
              </p>
              <p>
                （2）自费出境学习保证金购汇
              </p>
              <p>
                对于自费出境学习人员只有在汇出或在境内银行预交签证保证金后才能取得真实入境签证的情况，可通过缴纳购汇保证金方式办理自费出境学习学费、生活费购汇手续。对于自费出境学习人员先缴纳购汇保证金后取得真实入境签证的情况，银行在查验已办妥前往国家或地区真实入境签证的护照后退还所缴纳的购汇保证金。境内个人向银行缴纳的购汇保证金金额为人民币2000元。
              </p>
              <p>
                办理自费出境学习保证金购汇如超过年度购汇总额要提供以下资料：
              </p>
              <p>
                a.因私护照；
              </p>
              <p>
                b.境外学校录取通知书（因支付第二学年或学期及以后的学费或生活费购汇的，无需提供）；
              </p>
              <p>
                c.境外学校学费证明或（和）生活费用证明。境内个人无法提供境外学校录取通知书、学费证明原件的，可凭传真件或网上下载件办理；
              </p>
              <p>
                d.自费出境学习人员缴纳购汇保证金后，无法取得真实签证的，应将所购外汇从境外汇回并结汇。经办机构在查验相应结汇水单后退还所缴纳的购汇保证金。
              </p>
              <p>
                （4）境外培训
              </p>
              <p>
                a.本人因私护照及有效签证（或签注）。前往对我国实行落地签证、免签证的国家或地区而无法在出境前提供签证的，银行审核其它证明材料后直接办理；
              </p>
              <p>
                b.境外培训费用证明。无法提供境外培训费用证明原件的，可凭传真件办理。
              </p>
              <p>
                （5）境外邮购
              </p>
              <p>
                a.本人真实身份证明；
              </p>
              <p>
                b.广告或定单等收费凭证。无法提供广告或定单等收费凭证原件的，可凭传真件或网上下载件办理。
              </p>
              <p>
                （6）境外咨询
              </p>
              <p>
                a.书面申请；
              </p>
              <p>
                b.本人真实身份证明；
              </p>
              <p>
                c.合同（协议）、发票（支付通知）、税务凭证。
              </p>
              <p>
                （7）境外直系亲属救助
              </p>
              <p>
                境内个人境外直系亲属救助购汇，只能因直系亲属在境外发生疾病、死亡和意外灾难等情况时办理。办理境外直系亲属救助购汇如超过年度购汇总额应提供以下资料：
              </p>
              <p>
                a.本人真实身份证明；
              </p>
              <p>
                b.有权部门或公证机构出具的亲属关系证明、有关救助的相关证明材料。无法提供有关救助的相关证明材料原件的，可凭传真件办理。
              </p>
              <p>
                （8）缴纳境外国际组织会费
              </p>
              <p>
                a.本人真实身份证明；
              </p>
              <p>
                b.境外国际组织缴费通知。无法提供境外国际组织缴费通知原件的，可凭传真件办理。
              </p>
              <p>
                （9）其他服务贸易费用
              </p>
              <p>
                a.书面申请；
              </p>
              <p>
                b.本人真实身份证明；
              </p>
              <p>
                c.合同（协议）、发票（支付通知）、税务凭证。
              </p>
              <p>
                （10）货物贸易及相关费用
              </p>
              <p>
                a.书面申请；
              </p>
              <p>
                .本人真实身份证明；
              </p>
              <p>
                c.进口货物报关单、合同（协议）、发票（支付通知）。无法提供合同（协议）、发票（支付通知）原件的，可提供传真件或网上下载件办理。
              </p>
              <p>
                （11）持信用卡在境外消费或支出的补购外汇
              </p>
              <p>
                a.按照银行外币卡的有关规定办理。
              </p>
              <p>
                b.暂不纳入个人结售汇管理信息系统。
              </p>
              <p>
                （12）其它非持信用卡在境外消费或支出的补购外汇
              </p>
              <p>
                境内个人非持信用卡在境外消费或支出的补购外汇应在返回境内后2个月内办理。如果超过年度购汇总额需提供下述资料：
              </p>
              <p>
                a.书面申请；
              </p>
              <p>
                b.本人真实身份证明；
              </p>
              <p>
                c.境外消费或支出的有关证明材料。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>28.境内个人客户如何办理资本项目项下的结售汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                境内个人客户资本项目项下的结售汇业务，按以下规定办理：
              </p>
              <p>
                （1）境内个人对外直接投资应按国家有关规定办理。所需外汇经所在地外汇局核准后可以购汇或以自有外汇汇出，并办理相应的境外投资外汇登记手续。
              </p>
              <p>
                境内个人及因经济利益关系在中国境内习惯性居住的境外个人，在境外设立或控制特殊目的公司并返程投资的，所涉外汇收支按《国家外汇管理局关于境内居民通过境外特殊目的公司融资及返程投资外汇管理有关问题的通知》等有关规定办理。
              </p>
              <p>
                （2）境内个人可以使用外汇或人民币，并通过银行、基金管理公司等合格境内机构投资者进行境外固定收益类、权益类等金融投资。
              </p>
              <p>
                （3）境内个人参与境外上市公司员工持股计划、认股期权计划等所涉外汇业务，应通过所属公司或境内代理机构统一向外汇局申请获准后办理。
              </p>
              <p>
                境内个人出售员工持股计划、认股期权计划等项下股票以及分红所得外汇收入，汇回所属公司或境内代理机构开立的境内专用外汇账户后，可以结汇，也可以划入员工个人的外汇储蓄账户。
              </p>
              <p>
                （4）境内个人向境内经批准经营外汇保险业务的保险经营机构支付外汇保费，应持保险合同、保险经营机构付款通知书办理购付汇手续。
              </p>
              <p>
                境内个人作为保险受益人所获外汇保险项下赔偿或给付的保险金，可以存入本人外汇储蓄账户，也可以结汇。
              </p>
              <p>
                （5）境内个人移居境外的，将其取得合法移民身份前境内财产对外转移以及外国公民依法继承境内遗产的对外转移，按《个人财产对外转移售付汇管理暂行办法》等有关规定办理。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>29.境外个人客户如何办理经常项目项下经营性外汇收支的结售汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                境外个人经常项目合法人民币收入购汇及未用完的人民币兑回，按以下规定办理[境外个人购汇，无论金额大小，均须审查购汇的人民币合法来源证明资料。]：
              </p>
              <p>
                （1）在境内取得的经常项目合法人民币收入，凭本人有效身份证件和有交易额的相关证明材料（含税务凭证）办理购汇。
              </p>
              <p>
                （2）原兑换未用完的人民币兑回外汇（原用于兑换的外币仅限于以下三种形式：外币现钞、旅行支票、信用卡，个人储蓄账户的资金结汇未用完不纳入此范围），凭本人有效身份证件和原兑换水单或本人有效身份证件和外卡在ATM上的取款凭条办理，原兑换水单的兑回有效期为自兑换日起24个月；对于当日累计兑换不超过等值500美元（含）以及离境前在境内关外场所当日累计不超过等值1000美元（含）的兑换，可凭本人有效身份证件办理。
              </p>
              <p>
                境外个人购汇暂不受“年度总额”限制，但经办机构受理境外个人购汇业务必须当时录入外管局个人结售汇管理信息系统。
              </p>
              <p>
                境外个人旅游购物贸易方式项下的结汇，凭本人有效身份证件及个人旅游购物报关单办理。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>30.境外个人客户如何办理经常项目项下的非经营性结汇业务？[此点针对境外个人储蓄账户外汇资金结汇，持外币现钞结汇的办理具体见问题第34。]</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                境外个人经常项目项下非经营性结汇超过年度总额的，凭本人有效身份证件及以下证明材料在银行办理：
              </p>
              <p>
                （1）房租类支出：房屋管理部门登记的房屋租赁合同、发票或支付通知；
              </p>
              <p>
                （2）生活消费类支出：合同或发票；
              </p>
              <p>
                （3）就医、学习等支出：境内医院（学校）收费证明；
              </p>
              <p>
                （4）其它：相关证明及支付凭证。
              </p>
              <p>
                上述结汇单笔等值5万美元以上的，应将结汇所得人民币资金直接划转至交易对方的境内人民币账户。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>31.境外个人客户如何办理资本项目项下的结售汇业务？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                境外个人客户办理资本项目项下的结售汇业务，按以下规定办理：
              </p>
              <p>
                （1）境外个人购买境内商品房，应当符合：购房主体符合境内购房资格、自用、仅一套、经房产主管部门登记备案、交易背景成立真实原则，其外汇资金的收支和汇兑应当符合相关外汇管理规定。境外个人出售境内商品房所得人民币，银行审核以下资料后可以购汇汇出[汇出金额不得超出商品房转让金额扣减本次转让所包括的税费后的余额，一套商品房出售所得资金应一次性汇出]。
              </p>
              <p>　　
                A、身份证明文件。 B、商品房转让合同及登记证明文件。 C、服务贸易、收益、经常转移和部分资本项目对外支付税务证明或其他完税证明材料（金额在3万美元及以下的无需提交）。 D、如委托其他人办理，应提供经公证的授权委托书及受托人的有效身份证明。
              </p>
              <p>
                （2）除国家另有规定外，境外个人不得购买境内权益类和固定收益类等金融产品。境外个人购买B股，应当按照国家有关规定办理；投资其他境内发行和流通的各类金融产品，应通过合格境外机构投资者办理。
              </p>
              <p>
                （3）境外个人在境内的外汇存款应纳入存款金融机构短期外债余额管理。
              </p>
              <p>
                （4）境外个人对境内机构提供贷款或担保，应当符合外债管理的有关规定。
              </p>
              <p>
                （5）境外个人在境内的合法财产对外转移，应当按照个人财产对外转移的有关外汇管理规定办理。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>32.境外个人客户如何办理房产项下结汇？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                境外个人房产项下结汇金额在年度结汇总额内的，视同普通结汇。超过年度总额的，按照以下方式办理：
              </p>
              <p>
                （1）境外个人（不含港澳台居民和华侨）在境内工作、学习时间超过一年的，可办理房产项下结汇。其结汇购买自住商品房时，经办机构按照以下规定办理：
              </p>
              <p>
                从境外汇入购房款的，经办机构不得直接办理外币入房地产开发企业账户手续，而应在客户提供下列材料并审核资料真实性后，将所汇款项结汇后直接划入房地产开发企业的人民币账户，同时结汇所得人民币金额应小于等于合同标明的实际购房款项：结汇申请书、商品房销售合同或预售合同、有效护照等身份证明、一年期以上的境内有效劳动雇佣合同或学籍证明、房地产主管部门出具的该境外个人在所在城市购房的商品房预售合同登记备案等相关证明。
              </p>
              <p>
                客户将本人外汇账户存款结汇支付购房款的，经办机构在审查并留存上述四项证明材料后为客户办理结汇，并将结汇资金直接划入房地产开发企业人民币账户，同时结汇所得人民币应小于等于合同标明的实际购房款项。
              </p>
              <p>
                （2）港澳台居民和华侨办理房产项下结汇，应提供以下证明材料，经办机构审核无误后可办理结汇：结汇申请书、商品房销售合同或预售合同、《港澳居民往来内地通行证》等有效身份证明（台湾居民需提供《台湾居民往来大陆通行证》；华侨需提供由负责侨务工作部门出具的华侨身份认定）、房地产主管部门出具的该境外个人在所在城市购房的商品房预售合同登记备案等相关证明。
              </p>
              <p>
                （3）境外个人因故未能完成商品房交易、需将退回的房款购汇汇出境外的，应持以下文件向原结汇网点申请，网点审核确认后，将人民币购房款及利息购汇汇回境外个人账户：申请书（包括没有完成商品房交易的原因说明）、原结汇凭证、房地产开发企业与该客户解除商品房买卖合同的证明文件、房地产主管部门出具的该客户取消购买商品房的相关证明。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>33.个人客户购汇后提取外币现钞有何规定？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                无论是年度总额内的购汇还是超过总额的购汇，个人客户均可以直接提取日累计不超过等值1万美元（含1万美元）的外币现钞，其余资金可转存本人汇户，或者汇出境外，或持汇票、旅行支票、国际卡等携出境外。个人客户若需提取日累计超过等值1万美元的现钞，凭本人有效身份证件、提钞用途证明等材料向银行所在地外汇管理局事前报备，银行凭本人有效身份证件和经外汇局签章的《提取外币现钞备案表》为个人办理提取外币现钞手续。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>34.个人客户进行外币现钞结汇有何规定？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                个人本年度结汇未超过年度结汇总额时,当日外币现钞结汇累计金额在等值5000（含）美元以下的，凭本人有效身份证件在银行办理；当日累计金额超过等值5000美元的，凭本人有效身份证件、海关签章的《中华人民共和国海关进境旅客行李物品申报单》（以下简称“海关进境申报单”）或本人原存款银行外币现钞提取单据办理。
              </p>
              <p>
                个人本年度结汇已超过年度结汇总额时（无论外币现钞日累计结汇金额大小），经常项目项下的凭本人有效身份证件、本人海关进境申报单或本人原存款银行外币现钞提取单据以及规定的有交易额的相关证明材料办理；资本项目项下凭本人有效身份证件、本人海关进境申报单或本人原存款银行外币现钞提取单据并按照有关个人资本项目管理规定办理
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>35.个人客户可否将超过5万美元的大额结售汇分拆后分别由多人进行结售汇？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                根据当前国家外汇管理政策，个人客户不得将大额结售汇分拆成多笔小于5万美元的金额分别由多人进行结售汇，以规避个人结汇和境内个人购汇年度总额管理。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>36.有什么行为的个人将被纳入结售汇“关注名单”？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                根据外汇局的政策管理要求，有以下分拆行为的个人客户将被纳入结售汇“关注名单”：出借年度总额参与分拆的个人；境内分拆划转资金和购结汇资金的归集个人；银行通过人工核查或其他途径确认分拆的个人；外汇局发现办理可疑结售汇交易并经银行核实确认的个人。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>37.个人被纳入结售汇“关注名单”会有什么后果？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                被纳入结售汇“关注名单”的个人自纳入名单之日起的当年及之后2年内，均不能通过银行电子银行渠道办理结汇和购汇业务。
              </p>
            </li>
          </ul>
        </div>

        <div class="vtitle"><em class="v-icon v01"></em>38.被纳入结售汇“关注名单”的个人如何退出名单？</div>
        <div class="vcon" style="display: none;">
          <ul class="vconlist clearfix">
            <li>
              <p>
                被纳入结售汇“关注名单”的个人可通过以下途径从该名单中退出：向银行提交证明其交易真实性、一致性的相关材料，证明其结售汇交易为年度总额内满足自用需要，非向他人出借年度总额，并经银行审核确认后，由银行从“关注名单”中予以删除；关注期内，“关注名单”内个人未再次出现违规交易行为的，银行在关注期届满后及时予以删除。
              </p>
            </li>
          </ul>
        </div>

        <p class="attention">
          注意：本知识问答所列信息仅供客户参考，不作为客户办理业务的直接依据。客户办理个人结售汇业务具体应以国家外汇监管部门最新政策文件和我行最新结售汇业务管理办法为准。
        </p>

      </div>
    </div>

  </div>
  <%= render 'footer' %>
</div>

<% content_for :js do %>
<!-- 文字滚动 -->
<script type="text/javascript"> 
$(document).ready(function(){
    //折疊菜单隐藏展开
    var tabs_i=0
    $('.vtitle').click(function(){
      var _self = $(this);
      var j = $('.vtitle').index(_self);
      //if( tabs_i == j ) return false; 
      tabs_i = j;
      $('.vtitle em').each(function(e){
        if(e==tabs_i){
          $('em',_self).removeClass('v01').addClass('v02');
        }else{
          $(this).removeClass('v02').addClass('v01');
        }
      });
      if (_self.next('.vcon').is(':hidden')) {
        _self.next('.vcon').slideDown();
        _self.siblings().next('.vcon').slideUp();
        _self.parent('.slide-contaimner').siblings().find('.vtitle').next('.vcon').slideUp();
      }else{
        _self.next('.vcon').slideUp();
        _self.find('em').removeClass('v02').addClass('v01');
      }
    });
  });
</script> 
<% end %>
