@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
html {
  font-size: 14px;
  color: #666;
  font-family: 'Microsoft Yahei','Helvetica Neue', Helvetica, SimHei, Arial, sans-serif;
}
body{
  height: 100%;
  overflow-x: hidden;
}
audio, canvas, progress, video { 
  display: inline-block; 
  vertical-align: baseline; 
}
img {
  border: none;
  vertical-align: middle;
  max-width: 100%;
}
a {
  color: #e70000;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; 
}
a:hover{
  color: #e70000;
}
a:active {
    outline: 0; 
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
em {
  font-style: normal;
}
ul{
  list-style: none;
}
input,
textarea {
  outline: none;
  font-family: 'Microsoft Yahei','Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif;
}
input[type="text"],
input[type="tel"] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
  border-radius: 0; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input::-moz-placeholder,
textarea::-moz-placeholder { color: #aaaaaa; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder { color: #aaaaaa; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { color: #aaaaaa; }