<div class="row">
  <div class="span3 pull-right">
  </div>
  
  <div class="span12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>姓名</th>
          <th>邮箱</th>
          <th>手机号</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.mobile %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>