<div class="footer">
  <div class="inner-module">
    <p>
      <a href="http://www.icbc.com.cn/icbc/">工行首页</a><span>|</span>
      <a href="http://www.icbc.com.cn/ICBC/%E8%81%94%E7%B3%BB%E6%88%91%E8%A1%8C/default.htm">联系我行</a><span>|</span>
      <a href="http://www.icbc-ltd.com/icbcltd/%e7%bd%91%e7%ab%99%e5%a3%b0%e6%98%8e/%e7%bd%91%e7%ab%99%e5%a3%b0%e6%98%8e.htm">网站声明</a><span>|</span>
      <a href="javascript:;">服务热线 95588</a>
      <span class="right">中国工商银行版权所有&nbsp;&nbsp;&nbsp;&nbsp;京ICP证 030247号&nbsp;&nbsp;<%= image_tag 'anquan.jpg' %></span>
    </p>
  </div>
</div>