<div class="header" style="height:0;"></div>
<!-- top -->
<div class="nav">
  <div class="inner-module">
    <ul class="clearfix">
      <li class="logo">
        <a href="/">
          <%= image_tag 'logo.png' %>
        </a>
      </li>
      <li class="login">
        <div class="clearfix">
          <% if current_user %>
          <!-- 登录状态 -->
          <div class="logged-on">
            <div class="personal clearfix">
              <div class="user-img">
                <%= image_tag 'face.jpg', width: "44", height: "44" %>
                <%= image_tag 'circle.png', class: "mask" %>
              </div>
              <div class="user-center">
                <a class="user-name" href="javascript:;">Rabbit
                  <i class="icon-down"></i>
                </a>
                <ul>
                  <li class="write active">
                    <a href="/user/travels/new">编写攻略</a>
                  </li>
                  <li class="my-travels">
                    <a href="/user/travels/done">我的攻略</a>
                  </li>
                  <li class="my-profile">
                    <a href="/user/edit">我的资料</a>
                  </li>
                  <li class="exit">
                    <a href="<%= destroy_user_session_path  %>" data-method='delete' >退出账号</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <% else %>
          <!-- 未登录状态 -->
          <span class="user-link">
            <a href="/users/sign_up">注册</a>
            <span>|</span>
            <a href="/users/sign_in">登录</a>
          </span>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>

<% content_for :js do %>
<script type="text/javascript">
  $(document).ready(function(){
      <% unless @unfix %>
      //固定顶部导航
      var headHeight=$(".header").height();
      var nav=$(".nav");
      $(window).scroll(function(){
        if($(this).scrollTop()>headHeight){
          nav.addClass("navFix");
        }
        else{
          nav.removeClass("navFix");
        }
      });
      <% end %>

      //下拉框
      
      $(".user-center ul").hide();
      $('.logged-on').mouseover(function(){
        $(".user-center ul").show();
      });
      $('.logged-on').mouseout(function(){
        $(".user-center ul").hide();
      });

    }) 
</script>
<% end %>