<p><%= @resource.email %>，您好!</p>

<p>您最近申请了重置密码，您可以点击下面的链接直接进行处理。</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果不是您的申请操作，请忽略此邮件。</p>
<p>在您点击下面链接修改密码前，您的密码不会被改变。</p>
